* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-base: hsl(210, 29%, 24%);
  --color-point: #1e3799;
  --color-link: #7f8c8d;
  --color-link-hover: #7f8fa6;
}

body {
  max-width: 100vw;
  height: 100vh;
  min-width: 700px;
}

@font-face {
  font-family: 'ImcreSoojin';
  src: url('/fonts/ImcreSoojin.ttf');
  font-weight: normal;
  font-style: normal;
}
