.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vh 0 0 0;
}

div .precedentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid black;
}

.summary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.court {
  font-size: 12px;
  width: max-content;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.date {
}

.sentence {
}

.category {
  color: var(--color-point);
}

.link {
  text-decoration: none;
  color: var(--color-link);
  width: max-content;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.link:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-link-hover);
}

.notFound {
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 27px;
  color: var(--color-base);
}
