.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div .precedentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 90%;
  max-width: 1000px;
  padding: 30px 10px 30px 10px;
  border-bottom: 1px solid black;
}

.banner {
  margin: 55px 0 15px 0;
  width: 90%;
  max-width: 1000px;
  background: linear-gradient(90deg, #079992 0%, #0d1275 100%);
  height: 120px;
  padding: 30px;
  border-radius: 10px;
}
.banner h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.bannersvg {
  margin-right: 4px;
}

.banner p {
  color: #fff;
  font-weight: 200;
  margin-top: 8px;
}

.summary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.court {
  font-size: 15px;
  letter-spacing: 1px;
  width: max-content;
  padding: 5px 8px 5px 8px;
  border: 1px solid white;
  color: white;
  background-color: #3c6382;
  border-radius: 10px;
}

.category {
  color: var(--color-point);
}

.link {
  text-decoration: none;
  color: var(--color-link);
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.link:hover {
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  color: var(--color-link-hover);
}

.notFound {
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 27px;
  color: var(--color-base);
}

.btnWrapper {
  display: flex;
  gap: 20px;
}

.prevData {
  font-size: 20px;
  font-weight: 700;
  margin: 50px 0 50px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  cursor: pointer;
  color: var(--color-base);
}

.prevData:hover {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0 50px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  cursor: pointer;
  color: var(--color-point);
}

.nextData {
  font-size: 20px;
  font-weight: 700;
  margin: 50px 0 50px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  cursor: pointer;
  color: var(--color-base);
}

.nextData:hover {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0 50px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  cursor: pointer;
  color: var(--color-point);
}
