.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vh 0 0 0;
}

div .articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid black;
}

.title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--color-point);
}

.pubDate {
  text-align: right;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: var(--color-base);
  height: 100%;
  width: 100%;
}

.link:hover {
  text-decoration: none;
  color: var(--color-link-hover);
}

.notFound {
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 27px;
  color: var(--color-base);
}
