.SearchContainer {
  display: flex;
  width: 80%;
  min-width: 700px;
  max-width: 700px;
  align-items: center;
  text-align: center;
  margin: 0 0 15px 0;
}

.SearchBar {
  width: 100%;
  height: 45px;
  margin: 0;
  border-radius: 5px 0 0 5px;
  border: 1px solid gray;
  border-right: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}

.SearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid gray;
  width: 45px;
  height: 45px;
  background-color: #ecf0f1;
  cursor: pointer;
}

.SearchBtn:hover {
  background-color: lightgray;
}

.SearchIcom {
  width: 20px;
  height: 20px;
}
